<!DOCTYPE html>
<html>
  <h1><%=title%></h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m34!1m12!1m3!1d51814.56745196613!2d139.78260161332454!3d35.74071472596022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m19!3e2!4m5!1s0x60188e4fa5c463d1%3A0xac2e36291e3eb159!2z5p2x5Lqs6YO96Laz56uL5Yy66Laz56uL5Yy65Y2D5L2P77yV5LiB55uuIOiZueOBruW6g-WgtA!3m2!1d35.757171!2d139.80537379999998!4m5!1s0x60188f00a2f0ea6d%3A0xee1887ab3c561009!2z5p2x5Lqs6YO96Laz56uL5Yy65Y2D5L2P5puZ55S677yT77yUIOWggOWIh-mnhQ!3m2!1d35.7429583!2d139.81773099999998!4m5!1s0x60188f478cf255f1%3A0x8b7f02b175f2d5ef!2z5aKo55Sw5bCR5bm044Kw44Op44Km44Oz44OJ!3m2!1d35.7238956!2d139.8346633!5e0!3m2!1sja!2sjp!4v1664002436346!5m2!1sja!2sjp"
   width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<head>
<h1>API</h1>
<meta charset="utf-8">
<style>
/* マップを表示する div 要素の高さを必ず明示的に指定します。 */
#map {
  height: 400px;
  width: 600px;
}
</style>
</head>
  
<body>
<div id="map"></div><!-- 地図を表示する div 要素（id="map"）-->
<script>
  var map ;
  function initMap() {
	var latlng = new google.maps.LatLng(35.724233284078046, 139.8349283490421); //ゴールの経度
	var center1 = new google.maps.LatLng(35.74359549970456, 139.8176766482384); //中心の緯度, 経度

   map = new google.maps.Map(document.getElementById('map'), {
		zoom: 13,
		center: center1
	});

	var yoyogi = new google.maps.LatLng(35.75773594586802, 139.80540285979927);
	var directionsService = new google.maps.DirectionsService();
	var directionsRenderer = new google.maps.DirectionsRenderer();

	var request = {
		origin: yoyogi, //スタート地点
		destination: latlng, //ゴール地点
		waypoints: [ //経由地点
			{location: new google.maps.LatLng(35.74359549970456, 139.8176766482384), stopover: false}
		],
		travelMode: google.maps.DirectionsTravelMode.WALKING, //移動手段
	};

	directionsService.route(request, function(result, status) {
		if (status == google.maps.DirectionsStatus.OK) {
			directionsRenderer.setOptions({
				preserveViewport: true //ズーム率を変更してルート全体を表示しない
			});
			// ルート検索の結果を地図上に描画
			directionsRenderer.setDirections(result);
			directionsRenderer.setMap(map);
		}
	});
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDltvu2rAxtmbb4hSZjjnJJIsy1DRCzDtw&callback=initMap" async defer></script>

</body>
</html>

